/.vs/PepperQA/
/bin/Debug/
/obj/Release/
/obj/Debug/
/.vs/ProjectEvaluation/pepperqa.metadata.v5.2
/.vs/ProjectEvaluation/pepperqa.projects.v5.2
/obj/PepperQA.csproj.nuget.dgspec.json
/obj/PepperQA.csproj.nuget.dgspec.json
/obj/PepperQA.csproj.nuget.dgspec.json
/obj/project.nuget.cache
/obj/project.assets.json
