/.vs/PepperQA/
/bin/Debug/
/.vs/ProjectEvaluation/pepperqa.metadata.v5.2
/.vs/ProjectEvaluation/pepperqa.projects.v5.2
/.vs/ProjectEvaluation/pepperqa.metadata.v7.bin
/.vs/ProjectEvaluation/pepperqa.projects.v7.bin

*.[Oo]bj
obj/